<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
    <script>
        function mostrarFormulario() {
            // Obtener el elemento del formulario por su ID
            var formulario = document.getElementById('formularioServicio');

            // Mostrar el formulario
            formulario.style.display = 'block';
        }
    </script>
</head>
<body>
    <h1>Servicios</h1>
    <ul>
        {% for servicio in servicio_list %}
            <li>{{ servicio.nombre_servicio }}</li>
        {% endfor %}
    </ul>

    <!-- En el botón, usa la función JavaScript para redirigir a la URL deseada -->
    <button onclick="window.location.href='/crearServicio'">Añadir Servicio</button>

    <!-- Formulario oculto inicialmente -->
    <div id="formularioServicio" style="display: none;">
        <h2>Añadir Servicio</h2>
        <!-- En el atributo 'action', especifica la URL a la que se enviará el formulario -->
        <form action="/crearServicio" method="post">
            {% csrf_token %}
            <label for="nombreServicio">Nombre del Servicio:</label>
            <input type="text" id="nombreServicio" name="nombre_servicio" required><br>
            
            <label for="descripcionServicio">Descripción del Servicio:</label>
            <input type="text" id="descripcionServicio" name="descripcion_servicio" required><br>            

            <input type="submit" value="Guardar">
        </form>
    </div>
</body>
</html>
